.header {
  height: 5rem;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header h1 {
  margin: 0 0 0 3rem;
}

.meal-image {
  width: 100%;
  overflow: hidden;
  height: 25rem;
  z-index: 0;
}

.meal-image img {
  width: 110%;
  object-fit: cover;
  height: 100%;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-2rem);
  object-position: right 30%;
}
